body{
    height: 100%;
    overflow: scroll;
}

.container-fluid{
    height: 100%;
    overflow: hidden;
}

.intro,table,.calc,form{
    overflow: hidden;
}

p{
    margin-bottom: 0px;
    padding: 0px 10px;
}

.lefty{
    width: 100%;
    /* overflow-x: scroll;  put on media query small screen */
}

.righty{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form,.res{
    height: 100%;
    width: 41%;
}

.res{
    align-self: center;
}

.space{
    width: 100px;
}

.inp{
    width: 120px;
}

.selekta{
    width: 135px;
}