.container-fluid{
    height: 100vh;
}

.intro,table,.calc{
    overflow: hidden;
}

p{
    margin-bottom: 0px;
    padding: 0px 10px;
}

.calc{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.left{
    width: 25%;
}

.right{
    width: 75%;
}